# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://<username>:<passwrod>@localhost:3306/<database_name>"
JWT_SECRET="<>jwt_secret<>"

GOOGLE_CLIENT_ID="447285880786-sivh7t76d2n6m5fe5jlt5t139r6ilfue.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
NEXTAUTH_SECRET="4oU/4BR4wHMiYbLUZvqCGsz+9dX+bzhCeksDvp96wPE="
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_GOOGLE_CALLBACK_URL="http://localhost:3000/api/auth/callback/google"
