@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahan styling global */
:root {
  --font-poppins: 'Poppins', sans-serif;
}

html, body {
  @apply bg-white text-black antialiased;
  font-family: var(--font-poppins);
  margin: 0;
  padding: 0;
}

/* Optional: Reset untuk konsistensi */
* {
  @apply box-border;
}

/* Menyembunyikan scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
